.header{
  height: 74px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  .header-nav{
    .header-menu{
      display:flex;
      justify-content: space-between;
      align-items: center;
      max-width:1200px;
      margin:0 auto;
      list-style: none;
      height: 74px;
      &__item{
        .logo{
        }
      }
      &__link{
        color:$white;
        text-decoration: none;
        transition:all .325s ease;
        body.change-color &{
          color:$dark-grey;
        }
        &:hover{
          color:$yellow;
        }
      }
    }
  }
}
