/*Colors*/
$yellow:#f6e45e;
$white:#fffdfd;
$grey:#737163;
$dark-grey:#34332c;
$light-grey:#fffbdd;
$dark-yellow: #ccae74;

/*Fonts*/
$font-family-primary:Sarabun;
$font-family-secondary:Brandon Grotesque;

/*Button animation*/
$letters:5;
